html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transform: rotate(4deg);
  transition: all 200ms ease-out;
}

body {
  position: relative;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.figcaption {
  position: relative;
  width: 100%;
}

figure:first-child {
  left: 20%;
  top: 100px;
  z-index: 2;
}

figure:nth-child(2) {
  left: 30%;
  top: 150px
  z-index: 3;
}

figure:last-child {
  left: 40%
  top: 100px
  z-index: 1;
}
